In [2]:
import pandas as pd

In [3]:
#To load data plese unpack Crimes-2016-2021 in data folder
Crimes_2016_2021 = pd.read_csv("data/Crimes-2016-2021.csv")

In [4]:
#Initial analysis of given data
Crimes_2016_2021

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11243959,JB169577,01/01/2016 12:01:00 AM,033XX N KILPATRICK AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,30.0,15.0,11,NaN,NaN,2016,03/02/2018 03:54:48 PM,NaN,NaN,NaN
1,11232677,JB154281,01/01/2016 12:01:00 AM,018XX N LAMON AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,WAREHOUSE,False,False,...,37.0,25.0,11,NaN,NaN,2016,02/17/2018 03:55:23 PM,NaN,NaN,NaN
2,11039144,JA371577,01/01/2016 12:01:00 AM,080XX S MARQUETTE AVE,1754,OFFENSE INVOLVING CHILDREN,AGG SEX ASSLT OF CHILD FAM MBR,RESIDENCE,False,True,...,7.0,46.0,02,NaN,NaN,2016,08/05/2017 03:48:26 PM,NaN,NaN,NaN
3,11248969,JB166590,01/01/2016 12:01:00 AM,040XX N ASHLAND AVE,1751,OFFENSE INVOLVING CHILDREN,CRIM SEX ABUSE BY FAM MEMBER,APARTMENT,True,True,...,47.0,6.0,20,NaN,NaN,2016,10/16/2018 04:03:51 PM,NaN,NaN,NaN
4,11626660,JC189942,01/01/2016 12:01:00 AM,114XX S ARTESIAN AVE,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,RESIDENCE,False,False,...,19.0,75.0,11,NaN,NaN,2016,03/19/2019 04:21:52 PM,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1483613,12581975,JF100045,12/31/2021 11:50:00 PM,068XX S CHAMPLAIN AVE,1365,CRIMINAL TRESPASS,TO RESIDENCE,APARTMENT,False,False,...,20.0,42.0,26,1181741.0,1859870.0,2021,01/07/2022 03:47:10 PM,41.770714,-87.609359,"(41.770713582, -87.609358643)"
1483614,12584234,JF102969,12/31/2021 11:55:00 PM,087XX S WOOD ST,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,False,...,21.0,71.0,14,1165870.0,1846697.0,2021,01/07/2022 03:47:10 PM,41.734917,-87.667909,"(41.734916889, -87.66790905)"
1483615,12581979,JF100042,12/31/2021 11:58:00 PM,082XX S MARQUETTE AVE,0650,BURGLARY,HOME INVASION,APARTMENT,False,True,...,7.0,46.0,05,1195601.0,1850868.0,2021,01/07/2022 03:47:10 PM,41.745680,-87.558851,"(41.745680051, -87.558851198)"
1483616,12584710,JF103542,12/31/2021 11:59:00 PM,006XX N STATE ST,2250,LIQUOR LAW VIOLATION,LIQUOR LICENSE VIOLATION,HOTEL / MOTEL,True,False,...,42.0,8.0,22,1176247.0,1904872.0,2021,01/08/2022 03:45:56 PM,41.894328,-87.628143,"(41.894327846, -87.62814321)"
1483617,12609426,JF133671,12/31/2021 11:59:00 PM,023XX W 64TH ST,0810,THEFT,OVER $500,SCHOOL - PUBLIC BUILDING,False,False,...,16.0,66.0,06,NaN,NaN,2021,02/05/2022 03:51:52 PM,NaN,NaN,NaN

In [5]:
Crimes_2016_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1483618 entries, 0 to 1483617
Data columns (total 22 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   ID                    1483618 non-null  int64
 1   Case Number           1483618 non-null  object
 2   Date                  1483618 non-null  object
 3   Block                 1483618 non-null  object
 4   IUCR                  1483618 non-null  object
 5   Primary Type          1483618 non-null  object
 6   Description           1483618 non-null  object
 7   Location Description  1476993 non-null  object
 8   Arrest                1483618 non-null  bool
 9   Domestic              1483618 non-null  bool
 10  Beat                  1483618 non-null  int64
 11  District              1483617 non-null  float64
 12  Ward                  1483578 non-null  float64
 13  Community Area        1483617 non-null  float64
 14  FBI Code              1483618 non-null  object
 15  X Coordinate          1465136 non-null  float64
 16  Y Coordinate          1465136 non-null  float64
 17  Year                  1483618 non-null  int64
 18  Updated On            1483618 non-null  object
 19  Latitude              1465136 non-null  float64
 20  Longitude             1465136 non-null  float64
 21  Location              1465136 non-null  object
dtypes: bool(2), float64(7), int64(3), object(10)
memory usage: 229.2+ MB

In [6]:
Crimes_2016_2021.describe(include='all')

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
count,1.483618e+06,1483618,1483618,1483618,1483618,1483618,1483618,1476993,1483618,1483618,...,1.483578e+06,1.483617e+06,1483618,1.465136e+06,1.465136e+06,1.483618e+06,1483618,1.465136e+06,1.465136e+06,1465136
unique,NaN,1483424,694875,35491,365,35,496,191,2,2,...,NaN,NaN,26,NaN,NaN,NaN,3974,NaN,NaN,359518
top,NaN,HZ140230,01/01/2016 12:01:00 AM,001XX N STATE ST,0486,THEFT,SIMPLE,STREET,False,False,...,NaN,NaN,06,NaN,NaN,NaN,02/10/2018 03:50:01 PM,NaN,NaN,"(41.883500187, -87.627876698)"
freq,NaN,6,171,4673,136696,335023,165204,338768,1210048,1225929,...,NaN,NaN,335023,NaN,NaN,NaN,487495,NaN,NaN,2406
mean,1.145171e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.320771e+01,3.683052e+01,NaN,1.164896e+06,1.886185e+06,2.018330e+03,NaN,4.184328e+01,-8.767040e+01,NaN
std,8.662516e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.396935e+01,2.146465e+01,NaN,1.628744e+04,3.146680e+04,1.668884e+00,NaN,8.653938e-02,5.926949e-02,NaN
min,2.224500e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000e+00,1.000000e+00,NaN,0.000000e+00,0.000000e+00,2.016000e+03,NaN,3.661945e+01,-9.168657e+01,NaN
25%,1.096037e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000e+01,2.300000e+01,NaN,1.153161e+06,1.858869e+06,2.017000e+03,NaN,4.176810e+01,-8.771287e+01,NaN
50%,1.146962e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.400000e+01,3.200000e+01,NaN,1.166704e+06,1.893089e+06,2.018000e+03,NaN,4.186238e+01,-8.766394e+01,NaN
75%,1.201114e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.400000e+01,5.400000e+01,NaN,1.176547e+06,1.908739e+06,2.020000e+03,NaN,4.190535e+01,-8.762776e+01,NaN
max,1.270601e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.000000e+01,7.700000e+01,NaN,1.205119e+06,1.951535e+06,2.021000e+03,NaN,4.202267e+01,-8.752453e+01,NaN

In [7]:
Crimes_2016_2021['Date'] = pd.to_datetime(Crimes_2016_2021['Date'], format="%m/%d/%Y", exact=False)
Crimes_2016_2021['Updated On'] = pd.to_datetime(Crimes_2016_2021['Updated On'], format="%m/%d/%Y", exact=False)

In [8]:
#Data regarding coordinates, FBI codes and community area will be discarded because it will not be a part of the scope.
#Spaces in column names are replayced by _.
Crimes = Crimes_2016_2021[['Case Number', 'Date', 'Updated On', 'Arrest', 'Domestic', 'Location Description', 
                           'IUCR', 'Primary Type', 'Description', 'District', 'Ward', 'Beat', 'Block']]
Crimes = Crimes.rename(columns = {'Location Description' : 'Location_Description', 'Primary Type' : 'Primary_Type', 
                                  'Case Number' : 'Case_Number', 'Updated On':'Updated_On'})

In [9]:
#Some data is duplicated
Crimes.Case_Number.value_counts()

HZ140230    6
JC470284    5
JE266473    5
JD286197    4
HZ403466    4
           ..
JA557975    1
JA492933    1
JA491722    1
JA492321    1
JF133671    1
Name: Case_Number, Length: 1483424, dtype: int64

In [10]:
Crimes[Crimes.Case_Number == "HZ140230"]

,Case_Number,Date,Updated_On,Arrest,Domestic,Location_Description,IUCR,Primary_Type,Description,District,Ward,Beat,Block
23044,HZ140230,2016-02-04,2019-03-19,True,False,HOUSE,0110,HOMICIDE,FIRST DEGREE MURDER,8.0,16.0,824,057XX S CALIFORNIA AVE
23045,HZ140230,2016-02-04,2019-03-19,True,False,HOUSE,0110,HOMICIDE,FIRST DEGREE MURDER,8.0,16.0,824,057XX S CALIFORNIA AVE
23046,HZ140230,2016-02-04,2019-03-19,True,False,HOUSE,0110,HOMICIDE,FIRST DEGREE MURDER,8.0,16.0,824,057XX S CALIFORNIA AVE
23047,HZ140230,2016-02-04,2019-03-19,True,False,HOUSE,0110,HOMICIDE,FIRST DEGREE MURDER,8.0,16.0,824,057XX S CALIFORNIA AVE
23048,HZ140230,2016-02-04,2019-03-19,True,False,HOUSE,0110,HOMICIDE,FIRST DEGREE MURDER,8.0,16.0,824,057XX S CALIFORNIA AVE
23049,HZ140230,2016-02-04,2019-03-19,True,False,HOUSE,0110,HOMICIDE,FIRST DEGREE MURDER,8.0,16.0,824,057XX S CALIFORNIA AVE

In [11]:
#Duplicates are droped by Case_Number column because it is unique for every case
Crimes = Crimes.drop_duplicates(ignore_index = True, subset = 'Case_Number')

In [12]:
Crimes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1483424 entries, 0 to 1483423
Data columns (total 13 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Case_Number           1483424 non-null  object
 1   Date                  1483424 non-null  datetime64[ns]
 2   Updated_On            1483424 non-null  datetime64[ns]
 3   Arrest                1483424 non-null  bool
 4   Domestic              1483424 non-null  bool
 5   Location_Description  1476799 non-null  object
 6   IUCR                  1483424 non-null  object
 7   Primary_Type          1483424 non-null  object
 8   Description           1483424 non-null  object
 9   District              1483423 non-null  float64
 10  Ward                  1483384 non-null  float64
 11  Beat                  1483424 non-null  int64
 12  Block                 1483424 non-null  object
dtypes: bool(2), datetime64[ns](2), float64(2), int64(1), object(6)
memory usage: 127.3+ MB

In [13]:
#Missing data is filled by Missing for Location Description and 0 for District and Ward
Crimes.Location_Description = Crimes.Location_Description.fillna('Missing')
Crimes.District = Crimes.District.fillna(0)
Crimes.Ward = Crimes.Ward.fillna(0)
Crimes = Crimes.astype({'District':'int64', 'Ward':'int64'})

In [14]:
Crimes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1483424 entries, 0 to 1483423
Data columns (total 13 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Case_Number           1483424 non-null  object
 1   Date                  1483424 non-null  datetime64[ns]
 2   Updated_On            1483424 non-null  datetime64[ns]
 3   Arrest                1483424 non-null  bool
 4   Domestic              1483424 non-null  bool
 5   Location_Description  1483424 non-null  object
 6   IUCR                  1483424 non-null  object
 7   Primary_Type          1483424 non-null  object
 8   Description           1483424 non-null  object
 9   District              1483424 non-null  int64
 10  Ward                  1483424 non-null  int64
 11  Beat                  1483424 non-null  int64
 12  Block                 1483424 non-null  object
dtypes: bool(2), datetime64[ns](2), int64(3), object(6)
memory usage: 127.3+ MB

In [15]:
#New dataframe is created, location, which will be a second table in postgresql
location = Crimes[['Block', 'District', 'Ward', 'Beat']]
location = location.drop_duplicates(ignore_index = True)

In [16]:
#Location doesn't have column with unique values, it requres a special column - location_id containing index numbers 
#to create relation
location['location_id'] = location.index + 1
location

                        Block  District  Ward  Beat  location_id
0      033XX N KILPATRICK AVE        17    30  1731            1
1           018XX N LAMON AVE        25    37  2533            2
2       080XX S MARQUETTE AVE         4     7   422            3
3         040XX N ASHLAND AVE        19    47  1912            4
4        114XX S ARTESIAN AVE        22    19  2212            5
...                       ...       ...   ...   ...          ...
48755     088XX S Aberdeen St        22    21  2222        48756
48756      004XX E Ontario St        18    42  1834        48757
48757       022XX W Cortez St        12     2  1212        48758
48758     030XX W Sherwin Ave        24    50  2411        48759
48759      111XX S DOTY AVE E         5    10   531        48760

[48760 rows x 5 columns]

In [17]:
#2 new csv files are created in data/ directory
location.to_csv('data/location.csv', index = False)
Crimes.to_csv('data/Crimes.csv', index = False)